<!--Main content of the advanced search page-->
<div id="page-conatiner">

    <!--Information on the advanced search page-->
    <div id="informarion" style="margin: auto">
        <h1 class="text-center" style="margin-top: 20px">Advanced Search</h1>
        <p class="text-center" style="margin-top: 20px">Fill in the fields you wish to use to refine the search. Fields
            left unchanged will not be included in the search.</p>
    </div>

    <!--Advanced Search form-->
    <div id="advancedSearch"  style="margin-left: auto; margin-right: auto; width: 60%">
        <form action='/advSearchResults' method="get">
            <!--Name input (text)-->
            <div class="form-group">
                    <label for="speciesInput">Species</label>
                    <input type="text" class="form-control" name="species" id="speciesInput" placeholder="Species Name">
            </div>

            <div class="row">
                <!--Gene Present input (text)-->
                <div class="col">
                <label for="sequenceInput">Sequence Type</label>
                <input type="number" max="10000" class="form-control" name="sequence_type" id="sequenceInput" placeholder="Sequence Type">
                </div>
                <!--Gene Absent input (text)-->
                <div class="col">
                    <label for="annotInput">Includes All Annotations (comma separated)</label>
                    <input type="text" class="form-control" name="annotations" id="annotInput" placeholder="a1 (, a2...)">
                </div>
            </div>

            <!--Form submission button-->
            <button type="submit" class="btn btn-dark" style="margin-top: 20px; width: 100px">Search</button>
        </form>
    </div>
</div>
