<!--Main content of the advanced search page-->
<div id="page-conatiner">

    <!--Information on the advanced search page-->
    <div id="informarion" style="margin: auto">
        <h1 class="text-center" style="margin-top: 20px">Advanced Search</h1>
        <p class="text-center" style="margin-top: 20px">Fill in the fields you wish to use to refine the search. Fields
            left unchanged will not be included in the search.</p>
    </div>

    <!--Advanced Search form-->
    <div id="advancedSearch" style="margin-left: auto; margin-right: auto; width: 60%">
        <form>
            <!--Name input (text)-->
            <div class="form-group">
                <label for="inputName">Name</label>
                <input type="text" class="form-control" id="inputName" placeholder="Name">
            </div>

            <!--Sequence Type input (text)-->
            <div class="form-group">
                <label for="inputSequence">Sequence Type</label>
                <input type="text" class="form-control" id="inputSequence" placeholder="Sequence Type">
            </div>

            <!--Date Isolated Range-->
            <div class="form-group">
                <label>Date Isolated</label>
            </div>
            <div class="form-group row" style="margin-top: -20px; margin-left: 0px">
                <!--Start date (Date)-->
                <label for="inputDateStart" class="col-form-label" style="margin-right: 10px">From:</label>
                <div>
                    <input type="date" class="form-control" id="inputDateStart" placeholder="DD/MM/YYYY">
                </div>
                <!--End date (Date)-->
                <label for="inputDateEnd" class="col-form-label"
                       style="margin-left: 30px; margin-right: 10px">To:</label>
                <div>
                    <input type="date" class="form-control" id="inputDateEnd" placeholder="DD/MM/YYYY">
                </div>
            </div>

            <!--Place input (text)-->
            <div class="form-group">
                <label for="inputPlace">Place (Within 100 Miles of)</label>
                <input type="text" class="form-control" id="inputPlace" placeholder="Place">
            </div>

            <div class="row">
                <!--Gene Present input (text)-->
                <div class="col">
                    <label for="inputGenePresent">Gene Present</label>
                    <input type="text" class="form-control" id="inputGenePresent" placeholder="Gene Present">
                </div>
                <!--Gene Absent input (text)-->
                <div class="col">
                    <label for="inputGeneAbsent">Gene Absent</label>
                    <input type="text" class="form-control" id="inputGeneAbsent" placeholder="Gene Absent">
                </div>
            </div>

            <!--Number of Shared MLST Alleles input (number from dropdown)-->
            <div class="form-group" style="margin-top: 15px">
                <label for="inputMLSTAlleles">Number of Shared MLST Alleles</label>
                <!--Dropdown number selection-->
                <select id="inputMLSTAlleles" class="form-control" style="width: 15%">
                    <option selected>Choose...</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                </select>
            </div>

            <!--Percentage of shared Predicted Antibiotic Resistance Phenotypes input (number)-->
            <div class="form-group">
                <label for="inputSharedPhenotype">Percentage of Shared Predicted Antibiotic Resistance
                    Phenotypes</label>
                <input type="number" class="form-control" id="inputSharedPhenotype" placeholder="%" style="width: 15%">
            </div>

            <!--Form submission button-->
            <button type="submit" class="btn btn-dark" formaction="QueryResultsPage.html" style="margin-top: 20px; width: 100px">Search</button>
        </form>
    </div>
</div>