<div id = "errorPage">

  <h3> Sorry, there was an error trying to retrieve sample: <%- sample_ID %></h3>

  <form action='/result' method="get">
    <button id="errorButton" submit" name="sampleSelection" onclick="window.location.href='/result'" value="<%= sample_ID %>">
      Click here to try again
    </button>
  </form>

</div>
