<!--The footer-->
<div id="spacingDiv" style="clear: both; height: 50px;"></div>
<div id="footer" style="height: 50px; background-color: lightgrey; margin-top: 20px;">
    <div id="legal" style="color: #303030; height: 50px; text-align: center; margin: auto;">
        <!--Legal information regarding StaphBook and its data-->
        <p style="margin-top: 30px">Copyright © 2012-2017 Emory University. All rights reserved.</p>
    </div>
</div>