<!--The footer-->
<div id="footer" style="margin-top: 400px; margin-bottom: 0px; height: 100px; background-color: lightgrey">
    <div id="legal" style="color: #303030; height: 100px; text-align: center; margin: auto;">
        <!--Legal information regarding StaphBook and its data-->
        <p style="margin-top: 30px">Legal information and copyright here.</p>
    </div>
</div>