<!--Navigation Bar-->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #dbdbdb ; height: 45px; border-bottom: 0.5px solid gray">

  <!--Homepage Link-->
  <a class="navbar-brand" style="font-size: 180%; margin-right: 60px; color: #2f2f2f" href="/">
    <i class="fas fa-atom"></i> <b>Staph</b>Book
  </a>

  <!--Make navigation bar collapsible-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!--Navigation Search Bar-->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <!--Search form-->
        <form action='/searchResults' method="get" class="form-inline my-2 my-lg-0">
          <!--Search form dropdown-->
          <select name="searchOption" style="border: 0.5px solid gray; margin-right: 1px;" class="form-control form-control-sm">
            <option>All</option>
            <option>Gene</option>
            <option>Genome</option>
            <option>Keywords</option>
          </select>

          <!--Search form text input-->
          <div class="input-group input-group-sm mb-3" style="margin-top: 16px; width: 400px;">
            <input type="text" name="searchInput" style="border: 0.5px solid gray" class="form-control form-control-sm" placeholder="Type your search here, for example, ccrA1" aria-label="Search" aria-describedby="basic-addon2"></input>
            <div class="input-group-append">
              <button class="btn btn-dark" type="submit">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </form>
      </li>

      <!--Link to advanced search page-->
      <li class="nav-item" style="margin-left: 10px;">
        <a class="nav-link btn btn-sm btn-outline-dark" href="/advancedSearch">Advanced Search</a>
      </li>

      <!--Link to help/tutorial page-->
      <li class="nav-item">
        <a class="nav-link btn btn-sm btn-outline-dark" style="margin-left: 3px;" href="#tutorial-container">Help/Tutorial</a>
      </li>

      <li class="nav-item">
        <!--Login button-->
        <a class="btn btn-sm btn-dark nav-link" href="/login">
          Log in / Register
        </a>
      </li>

    </ul>
  </div>


</nav>
