<!--Navigation Bar-->
<div id="navbar"></div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <!--Homepage Link-->
    <a class="navbar-brand" style="font-size: 200%; padding:0px;" href="/">StaphBook</a>

    <!--Make navigation bar collapsible-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!--Navigation Search Bar-->
    <div class="collapse navbar-collapse" id="navbarSupportedContent"
         style="margin: 0; position: absolute; top: 50%; left: 50%; margin-right: -50%; transform: translate(-50%, -50%)">

        <!--Search form-->
        <form action='/searchResults' method="post" class="form-inline from-center my-2 my-lg-0">
            <!--Search form dropdown-->
            <select name="search[option]" class="form-control" style="margin-right: 5px">
                <option>All</option>
                <option>Gene</option>
                <option>Genome</option>
                <option>Keywords</option>
            </select>
            <!--Search form text input-->
            <input class="form-control mr-sm-2" size="40" type="text" name="search[input]" type="search" placeholder="Search" aria-label="Search">
            <!--Search form submission-->
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>

        <ul class="navbar-nav" style="margin-left: 30px">
            <!--Link to advanced search page-->
            <li class="nav-item">
                <a class="nav-link" href="/advancedSearch"><u>Advanced Search</u></a>
            </li>
            <!--Link to help/tutorial page-->
            <li class="nav-item">
                <a class="nav-link" href="#"><u>Help/Tutorial</u></a>
            </li>
        </ul>
    </div>

    <!--Login / Register model-->
    <div class="navbar-nav navbar-dark" style="margin-left: auto; margin-right: 30px" style="overflow: hidden">

        <!--Button to rigger modal-->
        <a class="nav-link" style="color: lightgrey" href="#" data-toggle="modal" data-target="#loginModal"><u>Log in /
                Register</u></a>

        <!--Login Modal-->
        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalTitle"
             aria-hidden="true" style="overflow: hidden">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="loginModalTitle">Log in to StaphBook</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <!--Login from-->
                    <div class="modal-body">
                        <form>
                            <!--Email Adress input (email)-->
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1"
                                       aria-describedby="emailHelp" placeholder="Enter email">
                            </div>
                            <!--Password input (password)-->
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1"
                                       placeholder="Password">
                            </div>
                            <!--Remember Me input (checkbox)-->
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Remember me</label>
                            </div>
                            <!--Login form submission-->
                            <button type="submit" class="btn btn-dark" formaction="HomePage(LoggedIn).html" style="margin-top: 10px">Log in</button>
                        </form>
                    </div>

                    <!--Link to Sign Up Page page-->
                    <div class="modal-footer">
                        <p>If you don't already have a StaphBook account you can <a style="color: #303030"
                                                                                    href="/createAccount"><u>Register
                                    here</u></a>.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</nav>