<!--Main content of the home page-->
<div id="page-container">

  <!--Information section of the home page-->
  <div id="information-container">
    <h1 class="text-center" style="margin-top: 20px">
      Welcome to <b>Staph</b>Book
    </h1>
    <p class="text-center" style="margin-top: 20px; margin-left: 10%; margin-right: 10%">
      An interactive website for a database focusing on the genomes of the bacterial pathogen Staphylococcus aureus.
    </p>
  </div>

  <!--Search bar and surrounding options-->
  <div id="search-containers" style="margin-top: 10px;">
    <div id="searchBar-container align-items-center"
         style="height: 100px; margin-bottom: -55px; margin-top: 100px; margin-left: auto; margin-right: auto; width: 60%">
      <!--Search form-->
      <form class="form-inline my-2 my-lg-0" style="top: 30%">
        <!--Search form dropdown-->
        <select class="form-control" style="margin-right: 5px; width: 10%">
          <option>All</option>
          <option>Gene</option>
          <option>Genome</option>
          <option>Keywords</option>
        </select>
        <!--Search form text input-->
        <input class="form-control form-outline-dark mr-sm-2" style="width: 78%; margin-left: -2px; margin-left: -2px"
               type="search" placeholder="Search"
               aria-label="Search">
          <!--Search form submission-->
          <button class="btn btn-dark my-2 my-sm-0" formaction="QueryResultsPage.html" style=" width: 10%;" type="submit">
            <i class="fa fa-search"></i>
          </button>
        </form>
    </div>


    <% if (userLoggedIn) { %>

    <% include ../sections/homePageLoggedIn %>


    <% } else { %>

    <% include ../sections/homePageNotLoggedIn %>

    <% } %>


    <!--Tutorial boxes containing a brief description of the tutorial and link to that tutorial-->
    <div id="tutorial-container" style="width: 80%; margin-right: auto; margin-left: auto; margin-top: 120px">
      <h3 class="text-center" style="margin-top: 20px">
        New to <b>Staph</b>Book?
      </h3>

      <!--Box for the first tutorial-->
      <div id="tutorial1-container" style="float: left; overflow: hidden; width: 325px">
        <div class="card" style="height: 325px; background-color: #f9f9f9; border-color: #686868">
          <div class="card-body">
            <h5 class="card-title">
              <i class="far fa-flag"></i>
              <br></br>
              Getting Started
            </h5>
            <p class="card-text">
              All information you need to know to begin using <b>Staph</b>Book.
            </p>
            <center>
              <a href="#" class="btn btn-outline-dark">Find out more</a>
            </center>
          </div>
        </div>
      </div>

      <!--Box for the second tutorial-->
      <div id="tutorial2-container"
           style="float: left; overflow: hidden; width: 325px">
        <div class="card" style="height: 325px; background-color: #f9f9f9; border-color: #686868">

          <div class="card-body">
            <h5 class="card-title">
              <i class="fas fa-search"></i>
              <br></br>
              How to find the genome you are looking for
            </h5>
            <p class="card-text">
              A step-by-step tutorial on how to use all the search functions of <b>Staph</b>Book to
              find exactly what you are looking for.
            </p>
            <center>
              <a href="#" class="btn btn-outline-dark">Find out more</a>
            </center>
          </div>
        </div>
      </div>

      <!--Box for the third tutorial-->
      <div id="tutorial3-container" style="float: left; overflow: hidden; width: 325px">
        <div class="card" style="height: 325px; background-color: #f9f9f9; border-color: #686868">
          <div class="card-body">
            <h5 class="card-title">
              <i class="far fa-question-circle"></i>
              <br></br>
              How to interpret and save the data you've found
            </h5>
            <p class="card-text">
              A look at the data available on <b>Staph</b>Book, what that data means, how you can
              manipulate the data to help refine what you are looking for,
              and how to save that data for use elsewhere.
            </p>
            <center>
              <a href="#" class="btn btn-outline-dark">Find out more</a>
            </center>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
