<!--List of popular searches by users of StaphBook-->
<div id="popularSearches-container" style="margin-left: auto; margin-right: auto; width: 60%">
  <div class="list-group">
    <button type="button" class="list-group-item list-group-item-action active list-group-item-dark">
      Popular search results based on other users
    </button>
    <button type="button" onclick="window.location.href='/result'" class="list-group-item list-group-item-action list-group-item-light"
            style="color: #0a0a0a">
      Streptomyces pactum strain ACT12 chromosome
    </button>
    <button type="button" onclick="window.location.href='/result'" class="list-group-item list-group-item-action list-group-item-light"
            style="color: #0a0a0a">
      Myxococus macrosporus DSM 14679 chromosome
    </button>
    <button type="button" onclick="window.location.href='/result'" class="list-group-item list-group-item-action list-group-item-light"
            style="color: #0a0a0a">
      Streptomyces gilvosporeus strain F607
    </button>
    <button type="button" onclick="window.location.href='/result'" class="list-group-item list-group-item-action list-group-item-light"
            style="color: #0a0a0a">
      Nocardia brasilliensis strain FDAARGOS_352 chromosome
    </button>
  </div>
</div>