<div id="userLoginForm">
  <h1 style="text-align: center;">
    Login to Your Account
  </h1>
  <p style="text-align: center; margin-bottom: 30px;"> Please enter your registered email address and password, then click submit.</p>

  <form method="POST">
    <!--Email Adress input (email)-->
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" name="email" id="email"
             aria-describedby="emailHelp" placeholder="Enter email"></input>
    </div>
    <!--Password input (password)-->
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" name="password" id="password"
             placeholder="Password"></input>
    </div>
    <!--Remember Me input (checkbox)-->
    <div class="loginCenterText">

      <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1"></input>
      <label class="form-check-label" for="exampleCheck1">Remember me</label>
    </div>
  </div>
    <div class="loginCenterText">
      <!--Login form submission-->
      <button type="submit" class="btn btn-dark" style="margin-top: 10px; width: 30%;">Log in</button>
    </div>
  </form>

  <!--Link to Sign Up Page page-->
  <div class="form-footer" style="margin-top: 15px;">
    <div class="loginCenterText">
      <p>
        If you don't already have a StaphBook account you can <a style="color: #303030" href="/createAccount">
          <u>Register here</u>
        </a>.
      </p>
    </div>
  </div>
</div>


