<div class="resultsPageTopComponent groupsPage">
    <!-- Group information  -->
    <h5 style="text-align: center; margin-top: 5px;">
        Staphlyococcus Aureus <br>
    </h5>

    <h1 style="text-align: center; margin-top: -10px;">
        <%- groupInfo.name %>
    </h1>

    <p class="groupDescription">
        <%- groupInfo.description %>
    </p>

    <!-- Download button -->

    <!-- Display aggregated data -->
    <h4>Common Statistics and Distributions</h4>
    <div id="radarGraphSection">
      <canvas id="aggregatedRadarGraph"></canvas>
    </div>

    <div id="barGraphsSection">
      <canvas id="sequenceTypeBar"></canvas>
      <canvas id="locationBar"></canvas>
      <canvas id="strainBar"></canvas>
      <canvas id="hostBar"></canvas>
      <canvas id="isolationSourceBar"></canvas>
    </div>

    <!-- Display genome cards -->
    <h4>Genomes</h4>
    <form action='/result' method="get"><div id="groupSamplesCards"></div></form>

    <% include ../snippets/viewGroupScript.ejs %>

</div>
