<div class="resultsPageTopComponent groupsPage">
    <!-- Group information  -->
    <h5 style="text-align: center; margin-top: 5px;">
        Staphlyococcus Aureus <br>
    </h5>

    <h1 style="text-align: center; margin-top: -10px;">
        <%- groupInfo.name %>
    </h1>

    <p class="groupDescription">
        <%- groupInfo.description %>
    </p>

    <!-- Download button -->

    <h4>Common Statistics and Distributions</h4>
    <!-- Display aggregated data -->


    <!-- Display bar graphs -->

    <!-- Display genome cards -->
    <h4>Genomes</h4>
    <form action='/result' method="get"><div id="groupSamplesCards"></div></form>


    <% include ../snippets/viewGroupScript.ejs %>

</div>
