<!--Main content of the advanced search page-->
<div id="page-conatiner">

    <!--Information on the advanced search page-->
    <div id="informarion" style="margin: auto">
        <h1 class="text-center" style="margin-top: 20px">Add/Edit Metadata</h1>
        <p class="text-center" style="margin-top: 20px">Select your sample from the dropdown menu and fill in the fields you wish to edit.</p>
    </div>

    <!--Advanced Search form-->
    <div id="advancedSearch"  style="margin-left: auto; margin-right: auto; width: 60%">
        <form method="POST">
            <!--Sequence Type input (text)-->
            <div class="form-group">
                <label for="nameInput">Name</label>
                <input type="text" class="form-control" name="name" id="nameInput" placeholder="Sample Name">
            </div>

            <!--Sequence Type input (text)-->
            <div class="form-group">
                <label for="sequenceInput">Isolation Species</label>
                <input type="number" max="10000" class="form-control" name="st" id="sequenceInput" placeholder="Isolation Species">
            </div>

            <!--Location input (text)-->
            <div class="form-group">
                <label for="locationInput">Isolation Source</label>
                <input type="text" class="form-control" name="location" id="locationInput" placeholder="Isolation Source">
            </div>

            <!--Host input (text)-->
            <div class="form-group">
                <label for="hostInput">Time of Sampling</label>
                <input type="text" class="form-control" name="host" id="hostInput" placeholder="Time of Sampling">
            </div>

            <div class="row">
                <!--Gene Absent input (text)-->
                <div class="col">
                    <label for="sourceInput">Notes</label>
                    <input type="text" class="form-control" name="isolation_source" id="sourceInput" placeholder="Notes">
                </div>
            </div>

            <!--Form submission button-->
            <button type="submit" class="btn btn-dark" style="margin-top: 20px; width: 100px">Search</button>
        </form>
    </div>
</div>