<!-- Credits to GlitchWorker on CodePen for providing source code here: https://codepen.io/glitchworker/pen/XVdKqj -->
<div slider id="slider-distance">
          <p style="text-align:center">Finding genomes from a distance of <span id="minGeneticDist">0.00</span> to <span id="maxGeneticDist">0.0150</span></p>
  <div>
    <div id="slider" inverse-left style="width:100%;"></div>
    <div id="selectedSlider" range style="left:0;right:0;"></div>
    <span id="minGeneticDistThumb" thumb style="left:0"></span>
    <span id="maxGeneticDistThumb" thumb style="left:100%;"></span>
  </div>

</div>
