<div id="createGroupForm">
  <h2 style="text-align: center;">
    Create a New Group
  </h2>
  <p style="text-align: center; margin-bottom: 30px;">
    Please enter the required details, then click Create.
  </p>
  <% if (creationSuccess) {%>
  <script>
    alert("Group created successfully!");
  </script>
  <%} %>

  <form class="new-group" method="POST" nogroup="">
    <!--Group name input-->
    <div class="form-group">
      <label for="newGroupName">Group Name</label>
      <input
        type="text"
        class="form-control"
        id="newGroupName"
        name="groupName"
        required=""
      />
    </div>
    <!--Group description input-->
    <div class="form-group">
      <label for="newGroupDesc">Group Description</label>
      <input
        type="text"
        class="form-control"
        id="newGroupDesc"
        name="groupDescription"
        required=""
      />
    </div>
    <div class="createGroupText">
      <!--Create group form submission-->
      <button
        type="submit"
        class="btn btn-dark"
        style="margin-top: 10px; width: 30%;"
      >
        Create
      </button>
    </div>
  </form>

  <!--Link to View Groups page-->
  <div class="form-footer" style="margin-top: 15px;">
    <div class="createGroupText">
      <p>
        If you would like to view existing groups instead, you can click
        <a style="color: #468e94;" href="/viewGroups">
          <u> here</u> </a
        >.
      </p>
    </div>
  </div>
</div>
