
#queryTitleContainer {
    padding-top: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
}

#queryListContainer {
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 60%
}

.resultsPageBottomComponent {
    clear: both;
    padding-top: 10px;
}

#cy {
    width: inherit;
    height: 90%;
    padding-left: 4px;
    padding-top: 4px;
    background-color: lavender;
}

hr.divider {
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 10%; 
    margin-right: 10%; 
}

#resultsPageLeftComponents {
    width: 55%;
    height: auto;
    padding-left: 2px;
    border-left: 0.5px solid silver;
    border-right: 0.5px solid silver;
    border-top: 0.5px solid silver;
    background-color: peru;
}

#resultsPageLeftComponent1 {
    float: left;
    width: 100%;
    border-bottom: 0.5px solid silver;
    border-left: 0.5px solid silver;
    border-right: 0.5px solid silver;
    height: 53px;
    background-color: #f1f1f1;
}


#resultsPageLeftComponent2 {
    float: left;
    width: 100%;
    height: 380px;
    border-left: 0.5px solid silver;
    background-color: lightpink;
}


#resultsPageLeftComponent3 {
    float: left;
    width: 100%;
    padding-bottom: 2px;
    padding-top: 15px;
    background-color: lightgreen;
}

.weightedDistanceSliders {
    padding-top: 30%;
    padding-left: 4px;
    padding-right: 4px;
    width: 50%;
    float: left;
    border-bottom: 0.5px solid silver;
}


#resultsPageRightComponent {
    float: right;
    width: 45%;
    height: auto;
    padding-left: 10px;
    padding-bottom: 20px;
}

#displayDescription {
    text-align: center;
    padding-top: 17px;
    padding-bottom: 10px;
}

#interactiveGraph {
    text-align: center;
    margin-top: 17px;
}

.summaryInfo {
    width: 65%;
    text-align: center;
}

.Genes {
    width: 100%;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 0.5px solid silver;
    background-color: #f1f1f1;
}

    /* Style the buttons that are used to open the tab content */
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
    }

        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: #ddd;
        }

        /* Create an active/current tablink class */
        .tab button.active {
            background-color: #ccc;
        }

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

button.tablinks {
    border-bottom: 0.5px solid #f1f1f1;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#geneID {
    width: 30%;
}

#geneName {
    width: 70%;
}

div {
    font-family: 'Assistant', sans-serif !important;
}


a {
    font-family: 'Assistant', sans-serif !important;
}

#userLoginForm {
    width: 40%;
    margin: 0 auto;
    border: 0.5px solid silver;
    padding: 15px 15px 15px 15px;
    margin-top: 30px;

}

.loginCenterText {
    text-align: center;
}

#createAccountContainer {
    width: 40%;
    margin: 0 auto;
    border: 0.5px solid silver;
    padding: 15px 15px 15px 15px;
    margin-top: 30px;
}

